<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.yeojoy.microdustwarning" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- GA에서 필요함 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="me.yeojoy.microdustwarning.DustApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        
        <activity
            android:name="me.yeojoy.microdustwarning.DustActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="me.yeojoy.microdustwarning.action.START_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="me.yeojoy.microdustwarning.service.WebParserService" >
            <intent-filter>
                <action android:name="me.yeojoy.microdust.action.RUN_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".AboutActivity" android:label="@string/about"
                  android:screenOrientation="portrait"/>
        <activity android:name=".InfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".DebugActivity" android:screenOrientation="portrait" />

        <provider
            android:authorities="me.yeojoy.microdustwarning"
            android:name=".db.DustContentProvider"
            android:exported="false" />

        <receiver android:name=".PhoneTurnOnReceiver">
            <intent-filter >
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
    </application>

</manifest>
